{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title>Employees</title>
        <!-- Add link to css here --> 
        <!-- Add script language -->
    </head>
    <body>
        <h4>Employee Data</h4>
        <table border="1" cellpadding="6">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                    
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>
        
                <tbody>
                    <!-- Now, iterate through every item in data -->{% for item in data %}
                        <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
                              
                            <!-- Create a <td> element with the value of that key in it -->
                            <td> {{item[key]}} </td> 
                            {% endfor %}
                          
                            <!-- edit button inside Cusotmer page -->
                               
                            <td><a href="Employees_edit/{{item.employee_id}}" class="btn btn-default">Edit</a></td>
                   

                            <!-- delete buttons inside Customer page-->
                            <td><a href="Employee_delete/{{item.employee_id}}" class="btn btn-default">Delete</a></td>
                        </tr> 
                        
                        {% endfor %} 
                {% endif %} 
            </table>
        
            <div id="insert">
                <form id="insertEmployees" action="/Employees" method="POST">
                    
                    <h4>New Employee</h4>
                    
                    <label for ="efirst_name">First Name</label>
                    <input type="text" id="efirst_name" name="efirst_name" required>
                    
                    <label for ="elast_name">Last Name</label>
                    <input type="text" id="elast_name" name="elast_name" required>
                    
                    <label for ="hourly_wage">Hourly Rate</label>
                    <input type="text" id="hourly_wage" name="hourly_wage" required>
                    
                    <input type="submit" value="Add" name="Add_Employees">
                </form>
            </div>
        </body>
        </html>   
            </form>
        </div> <!-- insert ends -->
{% endblock %}