{% extends 'base.html' %}
{% block content %}
<h1 style="text-align:center;">Welcome to your Database Management System</h1>
<h5 style="text-align:center;"> Your business data is now availble within the tabs, select on Customers, Employees, Orders and the Pizzas tab to view more.</h5>
{% endblock %}