{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title>Pizzas</title>
        <!-- Add link to css here --> 
        <!-- Add script language -->
    </head>
    <body>
        <h4>Pizzas Data</h4>
        <table border="1" cellpadding="6">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                    
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>
        
                <tbody>
                    <!-- Now, iterate through every item in data -->{% for item in data %}
                        <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
                              
                            <!-- Create a <td> element with the value of that key in it -->
                            <td> {{item[key]}} </td> 
                            {% endfor %}
                          
                            <!-- edit button inside Pizza page -->
                               
                            <td><a href="Pizzas_edit/{{item.pizza_id}}" class="btn btn-default">Edit</a></td>
                   

                            <!-- delete buttons inside Pizza page-->
                            <td><a href="Pizzas_delete/{{item.pizza_id}}" class="btn btn-default">Delete</a></td>
                        </tr> 
                        
                        {% endfor %} 
                {% endif %} 
            </table>
        
            <div id="insert">
                <form id="insertPizzas" action="/Pizzas" method="POST">
                    
                    <h4>New Pizza</h4>
                    
                    <label for ="pizza_type">Pizza Type</label>
                    <input type="text" id="pizza_type" name="pizza_type" required>
                    
                    <label for ="pizza_price">Pizza Price</label>
                    <input type="text" id="pizza_price" name="pizza_price" required>
                    
                    <input type="submit" value="Add" name="Add_Pizzas">
                </form>
            </div>
        </body>
        </html>   
            </form>
        </div> <!-- insert ends -->
{% endblock %}